<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fizzy.postservice.mapper.CommunityClassificationMapper">
    <resultMap id="BaseResultMap" type="com.fizzy.core.entity.CommunityClassification">
        <!-- 用id属性来映射主键字段 -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <!-- 用result属性来映射非主键字段 -->
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="community_num" jdbcType="INTEGER" property="communityNum" />
    </resultMap>

    <select id="findById" resultMap="BaseResultMap" resultType="com.fizzy.core.entity.CommunityClassification">
        select * from community_classification where id = #{id}
    </select>

    <select id="findByAllEnable" resultMap="BaseResultMap" resultType="com.fizzy.core.entity.CommunityClassification">
        select * from community_classification where status = #{status}
    </select>

    <select id="findByName" resultMap="BaseResultMap" resultType="com.fizzy.core.entity.CommunityClassification">
        select * from community_classification where name = #{name}
    </select>

    <select id="select" resultMap="BaseResultMap" resultType="com.fizzy.core.entity.CommunityClassification">
        SELECT cc.*,
               t.community_num
        FROM community_classification cc
                 LEFT JOIN (SELECT c.classification, COUNT(*) community_num
                            FROM community c
                            GROUP BY c.classification) t ON t.classification = cc.id
        <where>
            <if test="id!=null and id!=0">
                AND cc.id =#{id}
            </if>
            <if test="name!=null">
                AND cc.name LIKE CONCAT('%', CONCAT(#{name}, '%'))
            </if>
            <if test="status!=null and status!=0">
                AND cc.status =#{status}
            </if>
            <if test="creationDateStart!=null">
                AND cc.creation_date>#{creationDateStart}
            </if>
            <if test="creationDateEnd!=null">
                AND #{creationDateEnd}>cc.creation_date
            </if>
        </where>
    </select>

    <update id="updateAllById" parameterType="com.fizzy.core.entity.CommunityClassification">
        update community_classification
        set name=#{name},
            creation_date=#{creationDate},
            status=#{status}
        where id = #{id}
    </update>

    <insert id="insertOne" parameterType="com.fizzy.core.entity.CommunityClassification" useGeneratedKeys="true">
        insert into community_classification (name, creation_date, status)
        values (#{name}, #{creationDate}, #{status})
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Integer">
        delete from community_classification where id = #{id}
    </delete>

</mapper>