<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fizzy.postservice.mapper.CommunityAdminMapper">
    <resultMap id="BaseResultMap" type="com.fizzy.core.entity.CommunityAdmin">
        <!-- 用id属性来映射主键字段 -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <!-- 用result属性来映射非主键字段 -->
        <result column="community_id" jdbcType="INTEGER" property="communityId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="type" jdbcType="INTEGER" property="type" />
    </resultMap>

    <insert id="insertOne" parameterType="com.fizzy.core.entity.CommunityAdmin" useGeneratedKeys="true">
        insert into community_admin (community_id, user_id,join_time, type)
        values (#{communityId}, #{userId}, #{joinTime}, #{type})
    </insert>
    <update id="update" parameterType="com.fizzy.core.entity.CommunityAdmin">
        update community_admin set community_id=#{communityId},user_id=#{userId},type=#{type}
        where  community_id=#{communityId} and user_id=#{userId}
    </update>
    <delete id="delete" parameterType="com.fizzy.core.entity.CommunityAdmin">
        delete from community_admin where community_id=#{communityId} and user_id=#{userId}
    </delete>

</mapper>