<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fizzy.postservice.mapper.CommunityMapper">
    <resultMap id="BaseResultMap" type="com.fizzy.core.entity.Community">
        <!-- 用id属性来映射主键字段 -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="owner" jdbcType="INTEGER" property="owner"/>
        <result column="classification" jdbcType="INTEGER" property="classification"/>
        <result column="classification_name" jdbcType="VARCHAR" property="classificationName"/>
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="post_num" jdbcType="INTEGER" property="postNum"/>
        <result column="user_num" jdbcType="INTEGER" property="userNum"/>
    </resultMap>


    <resultMap id="SysUserMap" type="com.fizzy.core.entity.SysUser">
        <!-- 用id属性来映射主键字段 -->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <!-- 用result属性来映射非主键字段 -->
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="head_url" jdbcType="VARCHAR" property="headUrl"/>
        <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="enable_status" jdbcType="VARCHAR" property="enableStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="idcard" jdbcType="VARCHAR" property="idCard"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="comm_role" jdbcType="INTEGER" property="commRole"/>
        <result column="comm_joined_time" jdbcType="TIMESTAMP" property="commJoinedTime"/>
        <result column="post_num" jdbcType="INTEGER" property="postNum"/>
    </resultMap>

    <select id="findById" resultMap="BaseResultMap" resultType="com.fizzy.core.entity.Community">
        select *
        from community
        where id = #{id}
    </select>

    <select id="select" resultType="com.fizzy.core.entity.Community" resultMap="BaseResultMap">
        SELECT
        c.*,
        cc.NAME classification_name,
        t.post_num,
        t2.user_num
        FROM
        community c
        LEFT JOIN community_classification cc ON c.classification = cc.id
        LEFT JOIN (
        SELECT
        count(*) post_num,
        c.id
        FROM
        community c,
        post p
        WHERE
        c.id = p.community
        GROUP BY
        c.id
        ) t ON t.id = c.id
        LEFT JOIN ( SELECT community_id, count(*) user_num FROM community_admin GROUP BY community_id ) t2 ON
        t2.community_id = c.id
        <where>
            <if test="id!=null and id!=0">
                AND c.id =#{id}
            </if>
            <if test="name!=null">
                AND c.name LIKE CONCAT('%', CONCAT(#{name}, '%'))
            </if>
            <if test="status!=null and status!=0">
                AND c.status =#{status}
            </if>
            <if test="owner!=null and owner!=0">
                AND c.owner=#{owner}
            </if>
            <if test="classification!=null and classification!=0">
                AND c.classification=#{classification}
            </if>
            <if test="creationDateStart!=null">
                AND c.creation_date>#{creationDateStart}
            </if>
            <if test="creationDateEnd!=null">
                AND #{creationDateEnd}>c.creation_date
            </if>
        </where>
    </select>

    <update id="updateAllById" parameterType="com.fizzy.core.entity.Community">
        update community set name=#{name},introduction=#{introduction},cover_url=#{coverUrl},
                             status=#{status},owner=#{owner},classification=#{classification},
                             creation_date=#{creationDate}
        where id=#{id}
    </update>

    <delete id="deleteById" parameterType="com.fizzy.core.entity.Community">
        delete from community where id = #{id}
    </delete>

    <insert id="insertOne" parameterType="com.fizzy.core.entity.Community" useGeneratedKeys="true">
        insert into community (name, introduction, cover_url, status,
                               owner, classification, creation_date)
        values (#{name}, #{introduction}, #{coverUrl}, #{status},
                #{owner}, #{classification}, #{creationDate})
    </insert>

    <!-- 查询社区的所有成员 -->
    <select id="selectAdmin" resultMap="SysUserMap"
            resultType="com.fizzy.core.entity.SysUser">
        SELECT u.*,
        c.join_time comm_joined_time,
        c.type comm_role,
        t.post_num
        FROM sys_user u
        LEFT JOIN community_admin c ON u.user_id = c.user_id
        LEFT JOIN (SELECT community, post_user_id, COUNT(*) post_num
        FROM post
        GROUP BY community, post_user_id) t ON t.community = #{communityId}
        AND t.post_user_id = c.user_id

        <where>
            <if test="communityId!=null">
                AND c.community_id = #{communityId}
            </if>
            <if test="user.username!=null">
                AND u.username LIKE CONCAT('%', CONCAT(#{user.username}, '%'))
            </if>
            <if test="user.commJoinedTimeStart!=null">
                AND c.join_time>#{user.commJoinedTimeStart}
            </if>
            <if test="user.commJoinedTimeEnd!=null">
                AND #{user.commJoinedTimeEnd}>c.join_time
            </if>
        </where>
    </select>

    <!-- 查询用户加入的社区 -->
    <select id="selectAdminComm" parameterType="java.lang.Integer" resultMap="BaseResultMap"
            resultType="com.fizzy.core.entity.Community">
        SELECT c.*
        FROM community_admin ca
                 LEFT JOIN community c ON ca.community_id = c.id
        WHERE ca.user_id = #{userId}
    </select>

    <select id="checkUserIsJoined" resultType="java.lang.Long">
        select community_id
        from community_admin
        where community_id = #{communityId}
          and user_id = #{userId}
    </select>

    <select id="managerCommunity" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            c.*,
            t.post_num,
            t2.user_num
        FROM
            community_admin ca
                LEFT JOIN community c ON ca.community_id = c.id
                LEFT JOIN (
                SELECT
                    count(*) post_num,
                    c.id
                FROM
                    community c,
                    post p
                WHERE
                    c.id = p.community
                GROUP BY
                    c.id
            ) t ON t.id = c.id
                LEFT JOIN ( SELECT community_id, count(*) user_num FROM community_admin GROUP BY community_id ) t2 ON t2.community_id = c.id
        WHERE
            ca.user_id = #{userId}
          AND ca.type != 3
    </select>

</mapper>